<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="vinicios-campera"
            value="https://nuget.pkg.github.com/vinicios-campera/index.json" />
    </packageSources>
    <packageSourceMapping>
        <packageSource key="vinicios-campera">
            <package pattern="Kernel.*" />
        </packageSource>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
    <packageSourceCredentials>
        <vinicios-campera>
            <add key="Username" value="%GITHUB_USERNAME%" />
            <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
        </vinicios-campera>
    </packageSourceCredentials>
</configuration>