<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="vinicios-campera-github"
            value="https://nuget.pkg.github.com/vinicios-campera/index.json" />
    </packageSources>
    <packageSourceMapping>
        <packageSource key="vinicios-campera-github">
            <package pattern="Kernel.*" />
        </packageSource>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
    <packageSourceCredentials>
        <vinicios-campera-github>
            <add key="Username" value="vinicioscampera@gmail.com" />
            <add key="ClearTextPassword" value="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" />
        </vinicios-campera-github>
    </packageSourceCredentials>
</configuration>